:root {
  --main-bg-color: #095baa;
  --searchbox-bg-color: #fff;
  --chat-room-list-bg-color: #fff;
  --searchbox-focus-bg-color: rgb(247, 247, 247);
  --text-color: #fff;
  --chat-bubble: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

/* HEADER */
.navbar {
  height: 70px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3rem;
}
.navbar h1 {
  color: var(--text-color);
  font-family: "Sacramento", cursive;
  font-size: 2rem;
}
.navbar input[type="text"] {
  background-color: var(--searchbox-bg-color);
  padding: 3px;
  height: 65%;
  border-radius: 5px;
  border: none;
  flex-grow: 2;
  margin: 0 4rem;
  text-align: center;
  font-size: 1rem;
  font-style: italic;
}
.navbar input[type="text"]:focus {
  outline: none;
  background-color: var(--searchbox-focus-bg-color);
}
.navbar ul {
  display: flex;
  list-style-type: none;
}
.navbar ul li {
  margin-right: 1em;
}
i {
  font-size: 1.75rem;
  color: var(--text-color);
  cursor: pointer;
}

/* CHAT ROOM SECTION */

.content {
  display: flex;
  height: 100%;
}

.chat-room-section {
  background-color: var(--main-bg-color);
  /* height: 100%; */
  min-width: 15%;
}
#chat-list-room {
  font-family: "Trykker", serif;
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.75rem 1.5rem;
}
.list-items {
  margin-left: 1rem;
  margin-right: 1rem;
}
.item {
  background-color: var(--chat-room-list-bg-color);
  margin: 1rem 1rem;
  border-radius: 10px;
  padding: 5px;
  color: var(--main-bg-color);
  text-align: center;
  cursor: pointer;
}
.item:hover {
  background-color: var(--main-bg-color);
  color: #fff;
}
.active {
  background-color: transparent;
  color: #fff;
}
.chat-container {
  margin: 1rem;
  color: #095baa;
  font-style: italic;
  font-size: 1rem;
}
.messages {
  margin: 1rem;
}
.bubble {
  background-color: var(--main-bg-color);
  padding: 0.5rem;
  border-radius: 15px;
  display: flex;
  margin: 1rem;
}
#mail {
  color: #fff;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
#message {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
#avatar {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}
.message-controller{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#message_input{
  margin: 1rem;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid var(--main-bg-color);
  flex-grow: 2;
}
#message_input:focus{
  outline: none;
  background-color: #095baa;
  color: #fff; 
}
#message_input:focus::placeholder{
  color: #fff;
}
#send{
  height: 60px;
  width: 60px;
  background-color: #095baa;
  border: none;
  border-radius: 100%;
}
#send i{
  font-size: 1.5rem;
}